version: "3.7"
services:
  api_service:
    build: .
    restart: always
    ports:
      - 8080:8080
    networks:
      - my-net
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/spirits?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true    
    depends_on:
      - mysqldb
    
    volumes:
      - .m2:/root/.m2
      
  mysqldb:
    image: "mysql:8.0"
    restart: always
    ports:
      - 3306:3306
    networks:
      - my-net  
    environment:
      MYSQL_DATABASE: spirits
      MYSQL_USER: 
      MYSQL_PASSWORD: 
      MYSQL_ROOT_PASSWORD: 
networks:
  my-net: